# **Return Predictability with Agnostic Fundamental Analysis**
### *Michele Orlandi*
### *MGT6078 Fall 2022*

# 1. **Setup**

In [1]:
import os
import sys
sys.path.append(os.getcwd())
import pandas as pd
import numpy as np
import plotly.graph_objects as go
from sklearn.linear_model import LinearRegression, Lasso, LassoCV
from sklearn.ensemble import RandomForestRegressor
import gc
import warnings

In [2]:
url = 'https://www.dropbox.com/s/iasfmrfdzafjkyq/student_data.csv?dl=1'

In [3]:
gc.enable()
warnings.filterwarnings('ignore')

In [4]:
msf = pd.read_csv(url).drop(labels=['PERMNO', 'gvkey', 'COMNAM', 'TICKER', 'SICCD'], axis=1)
msf = msf.loc[:, msf.columns[1:]].copy()
gc.collect()
msf['date'] = pd.to_datetime(msf['date'], format='%Y%m%d')
msf['nextmonth'] = pd.to_datetime(msf['nextmonth'], format='%Y%m%d')

In [5]:
msf.head()

,date,CUSIP,PRC,SHROUT,RET,nextmonth,next_Ret,atq,dvpq,seqq,...,xidoq_MA4,doq_MA4,nopiq_MA4,ibq_MA4,txtq_MA4,niq_MA4,cheq_MA4,saleq_MA4,dvy_MA4,piq_MA4
0,1987-03-31,00036110,33.50,9099.0,0.107438,1987-04-30,-0.111940,228.106,0.000,130.427,...,0.0,0.0,0.44225,3.56150,2.85750,3.56150,3.78525,70.67700,2.58625,6.41900
1,1987-03-31,10304310,38.25,9158.0,0.145522,1987-04-30,-0.049020,163.403,0.000,112.860,...,0.0,0.0,0.66500,5.48775,5.37000,5.48775,26.73400,48.04150,2.54975,11.11825
2,1987-03-31,89051610,61.25,4418.0,-0.020349,1987-04-30,-0.089796,79.886,0.000,64.583,...,0.0,0.0,0.37900,3.20050,3.22475,3.20050,25.79550,27.85075,1.06600,6.42525
3,1987-03-31,89109210,31.00,6633.0,-0.038610,1987-04-30,-0.032258,261.411,0.296,74.113,...,0.0,0.0,-0.10925,4.20075,2.67900,4.20075,7.61300,112.99875,2.64300,6.87975
4,1987-03-31,89190610,26.00,15916.0,-0.223881,1987-04-30,-0.028846,27.390,0.000,24.649,...,0.0,0.0,0.06650,1.30950,1.29375,1.30950,4.86050,9.08825,0.00000,2.60325